      html{
        cursor: crosshair;
        font-family: 'Roboto', sans-serif;
      }

      .container{
        position: absolute;
      }

      #tooltip {
        position: absolute;
        height: 800px;
        margin-right: 50px;

      }

      #placeholder{
        position: absolute;
        width: 350px;
        left: 1100px;
        position: absolute;
        height: 800px;
        margin-right: 50px;
      }

      #circle circle {
        fill: none;
        pointer-events: all;
      }

      path.group {
        fill-opacity: .8;
      }

      path.chord {
        fill-opacity: .8;
        stroke: #000;
        stroke-width: .25px;
      }

      #circle:hover path.fade {
        display: none;
      }

      text{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
      }

      #holder{
        margin-top: 50px;
        margin-left: 50px;
      
      }

      h1, p{
        font-family: 'Roboto', sans-serif;
        margin:0px;

      }

      h1{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        margin-top: 300px;
        margin-bottom: 25px;
        font-size: 50px;
      }

      .sub{
        margin-bottom: 20px;
      }

      .number{
        font-size: 30px;
        font-weight: 200;
      }

      .yo{
        margin-bottom: 10px;
      }

      .hide{
        display: none;
      }



